@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de olvido de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, revisa tu correo electrónico para restablecer tu contraseña
</p>
