<footer class="footer border-top text-muted">
    <div class="container d-flex justify-content-between align-items-center">
        <span>
            &copy; 2024 - Biblioteca - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </span>
        <span>
            Acerca de <a href="https://learn.microsoft.com/aspnet/core">Asp.Net</a>
        </span>
    </div>
</footer>

