<section class="inicio">
    <div class="inicio-contenido">
        <!-- Imagen centrada -->
        <img src="https://e1.pxfuel.com/desktop-wallpaper/835/759/desktop-wallpaper-philosophers-squared-diogenes-of-sinope-diogenes.jpg" alt="Imagen central" class="inicio-imagen inicio-central">

        <!-- Frase centrada -->
        <p class="inicio-frase">"El fruto intrínseco de la psique, es la sabia lectura"</p>

        <!-- Imágenes adicionales (izquierda, derecha, abajo) -->
        <img src="https://i.pinimg.com/736x/51/28/6c/51286c465cdd78f8c12dc600590b731b.jpg" alt="Imagen izquierda" class="inicio-imagen inicio-izquierda">
        <img src="https://i.pinimg.com/736x/a7/c9/f3/a7c9f3c9b5b8b9cc62c5c7d281b6a7ff.jpg" alt="Imagen derecha" class="inicio-imagen inicio-derecha">
    </div>
</section>
